*{
    margin: 0;
    padding: 0;
}
#thanh_menu{
    background-image: url(img/menu.png);
    background-repeat: repeat-x;
    text-align: right;
    height: 90px;
    width: 1400px;
}
.menu_trai{
    position: absolute;
    margin-top: 9px;
    margin-left: 100px;
}
.menu_phai{
    padding-left: 600px; 
   
}
ul,li{
    display: flex;
    padding-left: 20px;
    padding-top: 12px;
}
a{
    text-decoration: none;
    background: none repeat scroll 0 0 #f3deea;
    border: 15px solid #f3deea;
    color:  #9f3d6c;
    border-radius: 5px;
    height: 15px;
}
.active{
    background: none repeat scroll 0 0 #9f3d6c;
    border: 15px solid #9f3d6c;
    color:  #ffffff;
    border-radius: 5px;
    height: 15px;
}
#than{
    display: flex;
}

